{
  "extends": [ "stylelint-config-standard", "stylelint-config-idiomatic-order" ],
  "rules": {
    "at-rule-no-unknown": null,
    "selector-class-pattern": null,
    "selector-id-pattern": null,
    "no-descending-specificity": null,
    "no-duplicate-selectors": null,
    "no-invalid-position-at-import-rule": null,
    "selector-pseudo-element-no-unknown": null,
    "font-family-no-missing-generic-family-keyword": null,
    "number-max-precision": null,
    "at-rule-prelude-no-invalid": null,
    "declaration-property-value-no-unknown": null
  },
  "plugins": [
    "stylelint-order"
  ]
}