.filter-bar {
  &__search-container {
    flex: 1;
  }

  &__options-container {
    // Чекбокс и поле лимита друг под другом
    min-width: 350px;
    align-items: flex-start;
  }

  &__limit-item {
    padding-top: 29px; // Выравниваем с полем ввода поиска (не с label)
    
    .ant-form-item {
      margin-bottom: 0;
    }
  }

  &__weights-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  &__weight-input {
    width: 120px;
    
    .ant-form-item {
      margin-bottom: 0;
    }
  }

  &__collapse {
    margin-top: 16px;
  }
}

.ant-collapse-header{
  padding:0px !important;
}
